<div class="mt-5 pt-5">
    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="text-center border border-light mt-5 pt-4 col-md-6 m-auto">
        <partial name="_Login" />
    </form>
</div>