a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: "Geometria" !important;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

.filebasket {
    background-color: rgba(203, 203, 203, 0.70);
    border: 4px dashed rgba(104, 104, 104, 0.70);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 10px 0;

    i {
        font-size: 40px;
    }
}

.filebasket.active, .filebasket>i.active {
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.File {
    cursor: pointer;

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
    }

    .fa-check-circle {
        display: none;
    }

    &.Confirmed {
        .fa-check-circle {
            display: block;
        }
    }
}

#inputForm{
    bottom: 60px;
    width: 100%;
}

#chatroom {
    height: 68vh;
    overflow: auto;
}

.cursor-pointer {
	cursor: pointer;
}

#Avatar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;

    & > div {
        background-size: cover;
        background-position: center center;
        border-radius: 100%;
        border: 3px solid #ecf0f1;
        width: 220px;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;

        #avatarEdit {
            display: none;
        }

        &:hover {
            filter: grayscale(100%);

            #avatarEdit {
                display: block;
            }
        }
    }
}

.text-gray {
    color: gray !important;
}

#toast-container > .toast-info {
    background-image: none !important;
}

#toast-container > div {
    padding: 15px;
}