a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all; }

html {
  font-size: 14px; }

@media (min-width: 768px) {
  html {
    font-size: 16px; } }

.border-top {
  border-top: 1px solid #e5e5e5; }

.border-bottom {
  border-bottom: 1px solid #e5e5e5; }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }

button.accept-policy {
  font-size: 1rem;
  line-height: inherit; }

html {
  position: relative;
  min-height: 100%; }

.filebasket {
  background-color: rgba(203, 203, 203, 0.7);
  border: 4px dashed rgba(104, 104, 104, 0.7);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  padding: 10px 0; }
  .filebasket i {
    font-size: 40px; }

.filebasket.active, .filebasket > i.active {
  height: 150px;
  align-items: center;
  display: flex;
  justify-content: center; }

.File p {
  overflow: hidden;
  text-overflow: ellipsis; }

.File .fa-file {
  cursor: pointer; }
