<footer class="page-footer font-small blue bg-dark position-absolute w-100" style="bottom: 0">
    <div class="footer-copyright text-center p-3">
        <p class="text-white m-0 small">© @DateTime.Now.Year Dinamokid</p>
    </div>
</footer>