<footer class="page-footer">
    <div class="footer-copyright text-center py-3 position-absolute w-100 special-color-dark page-footer font-small" style="bottom: 0">@DateTime.Now.Year Copyright:
        <a href="#">Dinamokid</a>
    </div>
</footer>