<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PisMirShow</title>

    <script src="/lib/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" href="/lib/mdb/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="/lib/mdb/css/mdb.min.css" />*@
    <link rel="stylesheet" href="/scss/Style.min.css" />
</head>
<body class="full-height">

    <partial name="_Header" />

    <div class="container pb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer" />

    <script src="/lib/mdb/js/bootstrap.min.js"></script>
    <script src="/lib/mdb/js/mdb.min.js"></script>
    <script src="/lib/mdb/js/popper.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
