<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(ViewData["Title"] == null ? "PWS" : ViewData["Title"] + " | PWS")</title>

	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/signalr.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="/lib/mdb/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link rel="stylesheet" href="/fonts/stylesheet.css" />
	<link rel="stylesheet" href="/lib/toastr/toastr.min.css" />
	<link rel="stylesheet" href="/scss/Style.min.css" />
</head>
<body class="full-height">

	<partial name="_Header" />

	<div class="container pb-5">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<partial name="_Footer" />

	<script src="/lib/mdb/js/bootstrap.min.js"></script>
	<script src="/lib/mdb/js/popper.min.js"></script>
	<script src="/lib/toastr/toastr.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	@await Component.InvokeAsync("NToastNotify")

	<script src="/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
