@{
    ViewData["Title"] = "О системе";
}
<div class="conteiner mt-5 mb-5 pt-5 pb-5">
    <h1 class="mb-4">О системе</h1>
    <p>Информационная система была выполненна на ASP .NET Core Авдоничевым Александром (гр. ИИ-661)</p>
    <p>По предмету: "Проектирование информационных систем"</p>
    <p>Тема: "Проектирование ИС для обмена информацией между сотрудниками компании"</p>
</div>
