@model TaskInSystem;
@{
    var user = (User)ViewBag.User;
}
<script>
    $("#date").datepicker({
        minDate: 0
    });
</script>
<section>
    <div class="container">
        <form asp-controller="Home" asp-action="AddTask" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="hidden" asp-for="FromUserId" value="@user.Id" />
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <input type="hidden" asp-for="FilesId" id="FilesId" />

                    <div class="mt-4">
                        <label for="text">Название задачи:</label>
                        <input type="text" id="text" required class="form-control" asp-for="Title">
                    </div>

                    <div class="mt-4">
                        <label for="date">DeadLine:</label>
                        <input type="datetime-local" id="date" class="form-control" asp-for="DeadLine">
                    </div>

                    <div class="form-group mt-4">
                        <label for="text">Текст задачи:</label>
                        <textarea class="form-control" type="text" id="text" class="form-control" asp-for="Text" rows="3"></textarea>
                    </div>

                    <div class="form-group mt-4">
                        <label for="toUser">Кому:</label>
                        <select class="custom-select" required asp-for="ToUserId" id="ToUser">
                            @foreach (var temp in ViewBag.Users)
                            {
                                <option value="@temp.Id">@(temp.GetFullName())</option>
                            }
                        </select>
                    </div>

                    <div>
                        <div id="fileBasket" class="filebasket">
                            <i class="fas fa-cloud-upload-alt"></i>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-dark mt-4" />
                </div>
                <div class="col-md-6">
                    <div class="row mt-2 p-4" id="FilesList">

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<partial name="../particle/_FileDroper" />
<partial name="../particle/_FileInteraction" />