@model TaskInSystem;
@{
    var user = (User)ViewBag.User;
}

<section>
    <div class="container">
        <form asp-controller="Home" asp-action="AddTask" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group">
                    <input type="hidden" asp-for="FromUser" value="@user.Id"/>
                    <input type="hidden" asp-for="Id" value="@Model.Id"/>
                    <input type="hidden" asp-for="FilesId" id="FilesId"/>
                    
                    <div class="mt-4">
                        <label for="text">Название задачи:</label>
                        <input type="text" id="text" required class="form-control" asp-for="Title">
                    </div>

                    <div class="mt-4">
                        <label for="date">DeadLine:</label>
                        <input type="date" id="date" class="form-control" asp-for="DeadLine">
                    </div>
                  
                    <div class="form-group mt-4">
                        <label for="text">Текст задачи:</label>
                        <textarea class="form-control" type="text" id="text" class="form-control" asp-for="Text"rows="3"></textarea>
                    </div>
                    
                    <div class="form-group mt-4">
                        <label for="toUser">Кому:</label>
                        <select class="custom-select" required asp-for="ToUser" id="ToUser">
                            @foreach (var temp in ViewBag.Users)
                            {
                                <option value="@temp.Id">@(temp.GetFullName())</option>
                            }
                        </select>
                    </div>

                    <div>
                        <div id="fileBasket" class="filebasket">
                            <i class="fas fa-cloud-upload-alt"></i>
                        </div>
                    </div>

                    <input type="submit" class="btn btn-dark mt-4"/>
                </div>
            </div>
        </form>
    </div>

    <div class="row mt-2" id="FilesList"></div>

</section>


<script>
    $(document).ready(function () {
        $("#progress").hide();

        $("#fileBasket, #fileBasket>i").on("dragenter", function (evt) {
            evt.preventDefault();
            $(this).addClass("active");
            evt.stopPropagation();
        });

        $("#fileBasket").on("dragover", function (evt) {
            evt.preventDefault();
            evt.stopPropagation();
        });

        $("#fileBasket, #fileBasket>i").on("dragleave", function (evt) {
            evt.preventDefault();
            $(this).removeClass("active");
            evt.stopPropagation();
        });

        $("#fileBasket").on("drop", function (evt) {
            evt.preventDefault();
            $(this).removeClass("active");
            evt.stopPropagation();
        });
    });

    $(".File").click(function () {
        id = $(this).attr("objId");
        console.log(id);
        $.ajax({
            type: "GET",
            url: "/home/DeleteFile?id=" + id,
            success: function (names) {
                toastr["success"]("Файлы удален");
                $(this).hide();
            },
            error: function () {
                toastr["error"]("Произошла ошибка при удалении файлов")
            },
            beforeSend: function () {
                $("#progress").show();
            },
            complete: function () {
                $("#progress").hide();
            }
        });
    });

    $("#fileBasket").on("drop", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
        var files = evt.originalEvent.dataTransfer.files;
        var fileNames = "";

        toastr["info"]("Файлы загружаются");

        var data = new FormData();
        for (var i = 0; i < files.length; i++) {
            data.append(files[i].name, files[i]);
        }
        $.ajax({
            type: "POST",
            url: "/home/UploadFilesInBD?taskId="+@Model.Id,
            contentType: false,
            processData: false,
            data: data,
            success: function (names) {
                toastr["success"]("Файлы загружены");
                names.forEach(function (item, i, urls) {

                    if ($("#FilesId").val() === '') {
                        $("#FilesId").val($("#FilesId").val() + item.id);
                    } else {
                        $("#FilesId").val($("#FilesId").val() + "," + item.id);
                    }

                    $("#FilesList").append(`<div class="File col-2 text-center mt-3" objId=`+item.id+`>
            <i class="fas fa-file" style="font-size: 30px"></i>
            <p>
                `+item.name+`
            </p>
        </div>`);
                });
            },
            error: function () {
                toastr["error"]("Произошла ошибка при загрузке файлов")
            },
            beforeSend: function () {
                $("#progress").show();
            },
            complete: function () {
                $("#progress").hide();
            }
        });
    });
</script>