@using System.Text
@{
    var user = (User)ViewBag.User;
}

<div id="inputForm" class="mt-5">
    <input type="text" id="message" />
    <input type="text" id="sendTo" />
    <input type="button" id="sendBtn" value="Отправить" />
</div>

<div class="col-md-12 mt-2 p-0">
    <div id="messages" class="mb-2">
        @*@foreach (var post in ViewBag.Messages)
        {
            <p><b>@post.Author</b>: @post.Message</p>
        }*@
    </div>
</div>

<script src="/signalr.min.js"></script>
<script>
    let hubUrl = 'https://localhost:5001/dialog';
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl(hubUrl)
        .configureLogging(signalR.LogLevel.Information)
        .build();

    var userName = `@user.GetFullName()`;

    hubConnection.on('Send', function (message, userName) {

        let userNameElem = document.createElement("b");
        userNameElem.appendChild(document.createTextNode(userName + ': '));

        let elem = document.createElement("p");
        elem.appendChild(userNameElem);
        elem.appendChild(document.createTextNode(message));

        var firstElem = document.getElementById("chatroom").firstChild;
        document.getElementById("chatroom").insertBefore(elem, firstElem);

    });

    document.getElementById("sendBtn").addEventListener("click", function (e) {
        let message = $("#message").val();
        hubConnection.invoke('Send', message, userName, $("#sendTo").val());
    });

    hubConnection.start();
</script>