
@{
    ViewData["Title"] = "Документы";
}
<div class="conteiner mt-5 mb-5 pt-5 pb-5">
    <h1 class="mb-4">Документы</h1>
    <p><i class="fas fa-file-download pr-3" style="font-size: 30px"></i> Шаблон оказания услуг</p>
    <p><i class="fas fa-file-download pr-3" style="font-size: 30px"></i> Инструкция по использованию ИС</p>
    <p><i class="fas fa-file-download pr-3" style="font-size: 30px"></i> Федеральный закон РФ "Об информации, информационных технологиях и о защите информации"</p>
</div>

