@using PisMirShow.Models.Account
@model User
@{
    ViewData["Title"] = "Моя лента";
}

<div class="container">
    <div class="col-md-12 mt-4 p-0">
        <div id="chatroom" class="mb-2">
            @foreach (var post in ViewBag.Posts)
            {
                <div class="mt-3">
                    <div class="d-flex">
                        <b class="border-bottom w-100">@post.Author.GetFullName()</b>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>
                            @post.Message
                        </span>
                        <span id="date">@post.CreatedDate.ToString("g")</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div id="inputForm col-md-12">
    <div class="row justify-content-center mt-4">
        <input type="text" class="form-control col-md-6 mb-2 mr-sm-2" id="message" placeholder="Введите сообщение">
        <button type="button" id="sendBtn" class="btn btn-dark col-md-2 mb-2">Отправить</button>
    </div>
</div>


<script src="/signalr.min.js"></script>
<script>
    let hubUrl = 'http://cft-service.herokuapp.com/chat-hub';
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl(hubUrl)
        .configureLogging(signalR.LogLevel.Information)
        .build();

    hubConnection.on('Send', function (message, userName, createdDate) {
        $("#chatroom").append(`<div class="mt-2">
                    <div class="d-flex">
                        <b class="border-bottom w-100">`+ userName + `</b>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>
                           `+ message + `
                        </span>
                        <span id="date">`+ createdDate + `</span>
                    </div>
                </div>`);
        $("#message").val("");
    });

    document.getElementById("sendBtn").addEventListener("click", function (e) {
        let message = document.getElementById("message").value;
        hubConnection.invoke('Send', message);
    });

    hubConnection.start();
</script>
