@{
    ViewData["Title"] = "Tasks";
    var user = (User)ViewBag.User;
}

<section>
    <div class="container">
        <div class="row">
            @foreach (var temp in ViewBag.Tasks)
            {
                <p>@temp.Text;</p>
            }
        </div>
    </div>
</section>